# Игнорировать настройки IDE
.idea/

# Игнорировать байт-код Python
__pycache__/
*.pyc

# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать кэш pytest
.pytest_cache/

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать локальные конфигурации (если есть)
*.local